.item-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 90%;
    margin: 30px auto;
    grid-gap: 20px;
    color: white;
    font-weight: bold;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .item-container{
        grid-template-columns: repeat(1, 1fr);
    }
}


