.item-container {
  width: 85%;
  margin: 40px auto;
  color: black;
  height: 600px;
  font-size: 0.9rem;
  overflow: auto;
}

#coins {
  width: 100%;
}

#coins th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04aa6d;
  color: white;
}

thead {
  color: grey;
}

#coins td,
#coins th {
  padding: 8px;
}

.button-container {
  display: flex;
  width: 10%;
  align-items: center;
  margin: 20px auto;
}

.button-container button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#coins td,
#coins tr {
  text-align: center;
}

#coins tr:hover {
  background-color: #ddd;
}

@media screen and (min-width: 900px) and (max-width: 1000px) {
  .item-container {
    width: 100%;
  }

  #coins {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  .button-container {
    width: 20%;
  }

  .item-container {
    width: 100%;
  }

  #coins {
    width: 100%;
  }

  .button-container button {
    padding: 15px 25px;
  }
}
