nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: gold;
  font-weight: bold;
  padding: 10px;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  background-color: rgb(52, 86, 139);
  z-index: 100;
}

.nav-appname p {
  font-size: 1.8rem;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.nav-menu li {
  padding: 20px;
  font-size: 1.2rem;
  color: gold;
  text-decoration: inherit;
}

