nav {
  font-weight: bold;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #282c34;
}

.nav-appname{
  text-align: center;
}

.nav-appname a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  list-style-type: none;
}

.nav-appname li {
  list-style-type: none;
}

.searchbar-container {
  margin: 50px auto;
  width: 60%;
}

.searchbar-container input {
  width: 100%;
  padding: 10px;
  border-radius:10px;
}

@media screen and (max-width: 1000px) {
  .searchbar-container {
    width: 90%;
  }
}


